<!-- <app-layout></app-layout> -->
<body>
<div class="login-box">
  <h2>Cryptographic Algorithm</h2>
  <form>
    <div class="user-box">
      <p class = "heading">Message</p>
      <input type="text" name="" required=""  #titleInput>
      <!-- <label>Message</label> -->
    </div>
    <div class="user-box">
      <p class = "heading">SHA 256 Hash</p>
        <p class = "value">{{value}}</p>
    </div>
    <a (click) = 'addTodo(titleInput.value)'>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Generate
    </a>
  </form>
</div>
</body>
